@import '../../base.scss';

.date {
    min-width: 10px;
    align-self: center;
    padding: 4px 10px;
    margin-bottom: 15px;
    background-color: $powder-blue;
    border-radius: 7px;
    z-index: 2;
    border-bottom: 1px solid $light-gray;

    .text {
        font-size: 0.9em;
        font-weight: 500;
    }
}