@import '../global.scss';

.layout {
    display: grid;
    grid-template-rows: auto;
    height: 100vh;
    width: 100%;
}

.header {
    height: 60px;
    background-color: $slite-gray;
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    .headerTitle {
        font-size: 1.5em;
        color: $white;

        &.headerTitleShrink {
            animation: header-title-shrink cubic-bezier(0, 0.93, 0.47, 1) 0.5s forwards;
        }
    }
    
    .headerSubTitle {
        font-size: 1em;
        color: $white;
        animation: header-subtitle-grow cubic-bezier(0, 0.93, 0.47, 1) 0.5s forwards;
    }
}

.main {
    overflow: scroll;
    background-color: $linen;
}

.footer {
}

@keyframes header-subtitle-grow {
    from {
        height: 0;
    }
    to {
        height: 1em;
    }
}

@keyframes header-title-shrink {
    from {
        font-size: 1.5em;
    }
    to {
        font-size: 1.2em;
    }
}